header {
  background-color: rgba(245, 245, 220, .89);
  color: #333;
  display: block;
  font-family: $stack-noto;
  margin-bottom: 50px;
  max-height: 70px;
  text-align: center;
}

strong {
  color: #333;
}

#about {
  background-color: rgba(245, 245, 220, .89);
  margin-bottom: 150px;
  height: 750px;
}

#about .header-main {
  font-family: $stack-noto;
  font-size: 40px;
  margin: 0 auto;
  max-width: 80%;
  padding: 30px 0 20px 20px;
}

#about h2 {
  font-family: $stack-noto;
  font-size: 40px;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px 0 20px 20px;
}

#about p {
  font-size: 20px;
  margin: 0 auto;
  max-width: 80%;
  padding-top: 20px;
  text-align: justify;
  text-indent: 50px;
}

#back-up {
  border: 2px solid #333;
  border-radius: 30px;
  bottom: 45px;
  right: 15px;
  padding: 8px;
  position: fixed;
  z-index: 10;
}

#back-up .glyphicon {
  font-size: 30px;
  margin-left: 15px;
}

#back-up p {
  font-size: 12px;
}

#back-up {
  color: inherit;
  text-decoration: none;
}

#contact-info {
  height: 600px;
  margin-top: 50px;
  text-align: center;
}

#logo {
  background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
  color: #eee;
  font-family: $stack-chantelli;
  font-size: 40px;
  margin-bottom: 20%;
}

#wrapper {
  padding: 0;
}

.background {
  background: url("dist/images/showcase.jpg") no-repeat center transparent;
  background-size: 100%;
  background-position: top;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
}

.image {
  display: block;
  text-align: center;
}

.image img {
  border-radius: 30px;
  margin: 10%;
  max-width: 70%;
}

.jumbotron {
  background: transparent;
  margin: 0 auto;
  text-align: center;
}
