body {
  background: url("../../images/showcase.jpg") no-repeat;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  text-decoration: none;
}

a {
  cursor: pointer;
}
