/*--------------------------*/
// Colors for all elements //
/*------------------------*/

//    accent     //
#navbar a {
  background-color: $transparent;
  color: $accent;
}

#logo {
  background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
  color: $accent;
}

//    accent-two    //
footer p,
strong  {
  color: $accent-two;
}

header {
  background-color: rgba(245, 245, 220, .89);
  color: $accent-two;
}

//    border    //
#back-up {
  border: 2px solid $accent-two;
  color: inherit;
}

//    jumbytron    //
.jumbotron,
.navbar {
  background: $transparent;
}

.dropdown-menu {
  background-color: $transparent;
}

//    other colors    //
#about {
  background-color: rgba(245, 245, 220, .89);
}

.dropdown-menu li:hover, {
  background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
}
