//    color vars    //
$accent     : #eee;
$accent-two : #333;
$transparent: transparent;

//    font vars    //
$stack-primary: "noto_serifregular", sans-serif;
$stack-secondary  : "chantelli_antiquaregular", "noto_serifregular", sans-serif;

//    media query variables    //
$desktop: "(min-width: 1040px)";
$iPad   : "(min-width: 500px) and (max-width: 1040px)";
$iPhone : "(max-width: 500px)";
