header {
  display: block;
  margin-bottom: 50px;
  max-height: 70px;
  text-align: center;
}

#about {
  margin-bottom: 150px;
  height: 1000px;
}

#about .header-main {
  font-size: 40px;
  margin: 0 auto;
  max-width: 80%;
  padding: 30px 0 20px 20px;
}

#about h2 {
  font-size: 40px;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px 0 20px 20px;
}

#about p {
  font-size: 20px;
  margin: 0 auto;
  max-width: 80%;
  padding-top: 70px;
  text-align: justify;
  text-indent: 50px;
}

#back-up {
  border-radius: 30px;
  bottom: 45px;
  right: 15px;
  padding: 8px;
  position: fixed;
  z-index: 10;
}

#back-up .glyphicon {
  font-size: 30px;
  margin-left: 15px;
}

#back-up p {
  font-size: 12px;
}

#back-up {
  text-decoration: none;
}

#contact-info {
  height: 200px;
  margin-top: 50px;
  text-align: center;
}

#logo {
  font-size: 40px;
  margin-bottom: 20%;
}

#wrapper {
  padding: 0;
}

// showcase
.showcase1 {
  background: url("dist/images/kitten-landing.jpg") no-repeat center transparent;
  background-size: 100%;
  background-position: top;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
}

.showcase2 img {
  margin: 0 auto 120px;
  width: 100%;
}

.image {
  display: block;
  text-align: center;
}

.image img {
  border-radius: 30px;
  margin: 10%;
  max-width: 70%;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
}
