@media screen and (min-width: 480px) {

  .jumbotron h1 {
    margin-top: 100px;
  }
}

@media screen and (min-width: 640px) {

  .jumbotron h1 {
    font-size: 60px;
    margin-top: 150px;
  }
}

@media screen and(max-width: 640px) {

  .dropdown {
    background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
  }
}

@media screen and (max-width: 768px) {

  .title-females {
    margin-top: 200px;
  }
}

@media screen and (min-width: 900px) {

  .jumbotron h1 {
    font-size: 80px;
    margin-top: 320px;
  }
}

@media screen and (min-width: 1024px) {

  .jumbotron h1 {
    font-size: 80px;
    margin-top: 350px;
  }
}
