//    navbar-header    //

.navbar {
  background: transparent;
  border: none;
  font-family: 'noto_serifregular', sans-serif;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 990px;
}

.dropdown-menu {
  background-color: yellow;
}

#navbar a {
  color: #eee;
}


//    dropdown    //
.dropdown {
  background: transparent;
}

.dropdown-menu a {
  font-size: 30px;
}
.dropdown li:first-child {
  padding-top: 15px;
}

.dropdown li:last-child {
  padding-bottom: 15px;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #F8F8FF;
}

//    navbar    //
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: rgba(144, 144, 144, .25);    /* 10% opaque gray */
}


//    dropdown-menu    //
.dropdown-open > li, .navbar-nav > li > .dropdown-menu, .navbar-default .navbar-nav >.open > a {
  background-color: rgba(144, 144, 144, .25);    /* 10% opaque gray */
}


//    dropdown menu:hover    //
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, ul.dropdown-menu:hover {
  background-color: rgba(144, 144, 144, .25);    /* 10% opaque gray */
}
