//    navbar-header    //

.navbar {
  background: transparent;
  border: none;
}

.dropdown-menu {
  background-color: yellow;
}

#navbar a {
  color: #fff;
  font-size: 20px;
}


//    dropdown    //
.dropdown {
  background: transparent;
}
.dropdown li:first-child {
  padding-top: 15px;
}

.dropdown li:last-child {
  padding-bottom: 15px;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  background-color: #F8F8FF;
}
