//    jumbotron    //
.jumbotron {
  background: transparent;
  padding-top: 0;
  text-align: center;
}

.jumbotron h1 {
  background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
  color: #eee;
  font-family: 'chantelli_antiquaregular', sans-serif;
  font-size: 100px;
  margin-top: 400px;
}
