//    background    //
.background {
  background: url("../../images/showcase.jpg") no-repeat center;
  background-size: 100%;
  background-position: top;
  height: 100%;
}

//    jumbotron    //
.jumbotron {
  background: transparent;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.jumbotron h1 {
  background-color: rgba(144, 144, 144, .5);    /* 10% opaque gray */
  color: #eee;
  font-family: 'chantelli_antiquaregular', sans-serif;
  font-size: 40px;
  margin-top: 100px;
}


//    male    //
.male {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 100px;
  text-align: center;
}

.male img {
  border-radius: 30px;
  max-width: 70%;
}


//    male-1    //
.male-1-2 {
  background-color: $light-red;
  height: 500px;
  width: 100%;
}
